In [ ]:
from TM1Constructor.Constructor import ObjectConstructor

constructor = ObjectConstructor()

In [ ]:
from TM1Constructor.Model import ElementModel

el = [
    {"Name": "TESTE", "Type": 1},
    {"Name": "TESTE", "Type": 2},
    {"Name": "TESTE", "Type": 3}
]

re = constructor.element.create_from_list(el)

print(re)

In [ ]:
from TM1py import Subset

from TM1Constructor.Constructor import ObjectConstructor

subset_model = [
    {
    "Name": "TestSubset",
    "MDX": "SELECT {TM1SUBSETALL([Dimension])} ON ROWS FROM [Cube]",
    "Elements": None,
    "Alias": None,
    "Default" : False
    },
    {
    "Name": "TestSubset",
    "MDX": "SELECT {TM1SUBSETALL([Dimension])} ON ROWS FROM [Cube]",
    "Elements": None,
    "Alias": None,
    "Default" : False
    }
]

constructor = ObjectConstructor()

re = constructor.subset.create_from_list('tesst', 'test', subset_model)

re